<ion-content [fullscreen]="true" class="ion-padding">
  <ion-img src="assets/images/ubp.png"></ion-img>
  <h1 class="ion-text-center">{{isLogin ? 'Login Akun Maba' : 'Registrasi'}}</h1>
  <form [formGroup]="formGroup">
    <ion-card mode="ios">
      <ion-card-content>
        <ion-input *ngIf="!isLogin" errorText="Nama harus diisi" formControlName="name" label="Nama"
                   labelPlacement="floating" type="text"></ion-input>

        <ion-input errorText="{{isLogin ? 'Required email*' : 'Email tidak valid'}}" formControlName="email"
                   label="Email" labelPlacement="floating"
                   type="email"></ion-input>

        <ion-input class="{{isLogin ? 'ion-margin-bottom' : ''}}"
                   errorText="{{isLogin ? 'Required password*' : 'Password Minimal 8 karakter'}}"
                   formControlName="password"
                   label="Password" labelPlacement="floating"
                   type="password"></ion-input>

        <ion-input *ngIf="!isLogin" class="ion-margin-bottom" errorText="Password harus sama"
                   formControlName="confirmPassword"
                   label="Konfirmasi password" labelPlacement="floating"
                   type="password"></ion-input>

        <ion-buttons>
          <ion-button (click)="onSwitchMode()" color="tertiary" fill="clear" mode="ios"
                      type="button">{{isLogin ? 'Halaman daftar' : 'Sudah daftar'}}
          </ion-button>
          <ion-button (click)="isLogin ? onLogin() : onRegister()" [disabled]="!formGroup.valid"
                      color="{{isLogin ? 'tertiary' : 'success'}}" fill="solid"
                      mode="ios"
                      type="submit">{{isLogin ? 'Masuk' : 'Daftar'}}</ion-button>
        </ion-buttons>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
