ion-chip {
  --background: #00213f;
  --color: #adefd1;
}

ion-card-content {
  display: flex;
}

#header{
  background-image: url('../../../assets/images/bg-header.avif');
  background-repeat: no-repeat;
  background-size: cover;
}


#bg-card {
  background-image: url('../../../assets/images/bg-card.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
