<ion-tabs (ionTabsDidChange)="setSelectedTab()" id="main-content">
  <ion-tab-bar slot="bottom" >
    <ng-container *ngIf="userRole === 'student'; else adminTabs">
      <ion-tab-button tab="home">
        <ion-icon
          [name]="selectedTab === 'home' ? 'home' : 'home-outline'"
          color="tertiary"
        ></ion-icon>
        <ion-label color="tertiary">Home</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="info">
        <ion-icon
          [name]="selectedTab === 'info' ? 'notifications' : 'notifications-outline'"
          color="tertiary"
        ></ion-icon>
        <ion-label color="tertiary">Info</ion-label>
      </ion-tab-button>
        <ion-tab-button tab="registration-form-student">
          <ion-icon
            [name]="selectedTab === 'registration-form-student' ? 'mail-open' : 'mail-open-outline'"
            color="tertiary"
          ></ion-icon>
          <ion-label color="tertiary">Pendaftaran</ion-label>
        </ion-tab-button>
      <ion-tab-button tab="help">
        <ion-icon
          [name]="selectedTab === 'help' ? 'help-circle' : 'help-circle-outline'"
          color="tertiary"
        ></ion-icon>
        <ion-label color="tertiary">Bantuan</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-icon
          [name]="selectedTab === 'profile' ? 'person' : 'person-outline'"
          color="tertiary"
        ></ion-icon>
        <ion-label color="tertiary">Profile</ion-label>
      </ion-tab-button>
    </ng-container>

    <ng-template #adminTabs>
  <ion-tab-button tab="admin/home" [class.selected]="selectedTab === 'home'">
    <ion-icon
      [name]="selectedTab === 'home' ? 'home' : 'home-outline'"
      color="tertiary"
    ></ion-icon>
    <ion-label color="tertiary">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="admin/user" [class.selected]="selectedTab === 'user'">
    <ion-icon
      [name]="selectedTab === 'user' ? 'person' : 'person-outline'"
      color="tertiary"
    ></ion-icon>
    <ion-label color="tertiary">Maba</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="admin/info" [class.selected]="selectedTab === 'info'">
    <ion-icon
      [name]="selectedTab === 'info' ? 'information-circle' : 'information-circle-outline'"
      color="tertiary"
    ></ion-icon>
    <ion-label color="tertiary">Info</ion-label>
  </ion-tab-button>
  <ion-tab-button tab="admin/profile" [class.selected]="selectedTab === 'profile'">
    <ion-icon
      [name]="selectedTab === 'profile' ? 'person' : 'person-outline'"
      color="tertiary"
    ></ion-icon>
    <ion-label color="tertiary">Profile</ion-label>
  </ion-tab-button>
</ng-template>

  </ion-tab-bar>
</ion-tabs>
